---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_126.0.6478
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><Error><Code>NoSuchKey</Code><Message>The
        specified key does not exist.</Message><Details>No such object: chromedriver/LATEST_RELEASE_126.0.6478</Details></Error>"
  recorded_at: Fri, 21 Jun 2024 07:34:21 GMT
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Goog-Generation:
      - '1685523462105569'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      X-Goog-Hash:
      - crc32c=tVW4TA==
      - md5=NoaEuIlBlniwTkiZ1T16sA==
      X-Goog-Storage-Class:
      - STANDARD
      Last-Modified:
      - Wed, 31 May 2023 08:57:42 GMT
      Etag:
      - '"368684b889419678b04e4899d53d7ab0"'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: 114.0.5735.90
  recorded_at: Fri, 21 Jun 2024 07:34:21 GMT
recorded_with: VCR 6.0.0
